{{#each coffeeShops as |coffeeShop|}}
  <div class="coffee-shop">
    <h2>{{coffeeShop.name}}</h2>
    <p>{{coffeeShop.address}}</p>
    <p>{{coffeeShop.phone_number}}</p>
    <p>{{coffeeShop.price_range}}</p>
  </div>
{{/each}}

<h2>{{name}}</h2>
<h2>TEST!</h2>