<section class="container container-fluid mt-5 mb-3">
  {{#each coffeeshops as |coffeeshop|}}
  <div class="coffee-shop">
    <h2><a href="/api/coffeeshops/{{coffeeshop.id}}">{{coffeeshop.name}}</a></h2>
    <p>{{coffeeshop.address}}</p>
    <p>{{coffeeshop.phone_number}}</p>
    <p>Pricing: {{coffeeshop.price_range}}</p>
  </div>

  {{/each}}
  <div class="addCoffee">
    <a href="/addCoffeeshop"><i class="fas fa-plus mb-3 mt-3"></i> Add CoffeeShop</a>
    <a href="/" class="mb-5 h6">Back to cities</a>
  </div>

</section>