<div class="coffeeshop">
    <img class="imgCoffee" src="{{picture}}" alt="Coffeeshop Picture">
    <h2>{{name}}</h2>
    <p>{{address}}</p>
    <p>Price: {{price_range}}</p>
</div>
<nav class="navbar">
    <ul class="navbar-list">
        <li><a href="/add-review">Add Review</a></li>
        <li><a href="tel:{{phoneNumber}}">Phone Number</a></li>
        <li><a href="{{address}}">Directions</a></li>
        <li><a href="{{website}}">Website</a></li>
    </ul>
</nav>